doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    .container
        ul.nav
            li.active
                 a(href='/') Home
            li
                 a(href='/users') Users
            li
                 a(href='/furniture') Furniture
            li
                 a(href='/login') Login